
:root {
  --black: black;
}

* {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}


/* navbar */
#info-nav {
  padding: 10px;
  background: var(--black);
  color: white;
  border: solid var(--black) 1px;
  border-radius: 0 0 10px 10px;
  border-top: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 787px) {
  #info-nav {
    width: 50%;
    font-size: 1.2rem;
  }
}

/* dark light mode */
.dark-light-mode-cart {
  font-size: 2rem;
  padding: 0 20px;
  margin: 10px auto ;
}

@media screen and (min-width: 650px) {
  .dark-light-mode-cart {
    padding: 0 160px;
  }
}
@media screen and (min-width: 915px) {
  .dark-light-mode-cart {
    padding: 0 220px;
  }
}

@media screen and (min-width: 1200px) {
  .dark-light-mode-cart {
    padding: 0 270px;
  }
}

.left .bi-cart,
#right .bi-toggle-off,
#right .bi-toggle-on {
  cursor: pointer;
}

#right #dark-light-icon,
.left .bi-cart {
  margin-right: 10px;
  font-size: 1.9rem;
}

/* carousel */

.carousel {
  margin-top: 20px;
}

@media screen and (min-width: 650px) {
  .carousel {
    width: 80%;
    margin: 20px auto;
  }
}

.carousel-caption * {
  color: white;
}

/* cards */

.shoes {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 10px auto;
  box-shadow: 0 0 3px 0;
  width: 20rem;
}

.card img {
  height: 250px;
  width: 100%;
}

.card-text {
  text-align: center;
}

.shoes-title {
  background: var(--black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  padding: 20px;
  font-size: 2rem;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.more button {
  padding: 8px 10px;
  border-radius: 10px;
  border: var(--black) solid 1px;
  background: var(--black);
  color: white;
}

/* cotizacion */

.cotizacion {
  margin: 20px auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px rgb(166, 164, 164);
}

.input {
  margin: 20px auto;
}

.input .bi-send {
  border: solid 1px var(--black);
  border-radius: 2px;
  padding: 0 5px;
}