
:root {
  --black: black;
  --bg-dark-mode: #2d2d2d;
  --bordes: rgb(166, 164, 164);
}

* {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}


/* container */

.dark-mode {
  background: var(--bg-dark-mode);
}


/* navbar */
#info-nav {
  padding: 10px;
  background: var(--black);
  color: white;
  border: solid var(--black) 1px;
  border-radius: 0 0 10px 10px;
  border-top: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

/* #nav-items * {
  color: white;
} */

@media screen and (min-width: 787px) {
  #info-nav {
    width: 50%;
    font-size: 1.2rem;
  }
}

/* dark light mode */
.dark-light-mode-cart {
  font-size: 2rem;
  padding: 0 20px;
  margin: 10px auto ;
}

@media screen and (min-width: 650px) {
  .dark-light-mode-cart {
    padding: 0 160px;
  }
}
@media screen and (min-width: 915px) {
  .dark-light-mode-cart {
    padding: 0 220px;
  }
}

@media screen and (min-width: 1200px) {
  .dark-light-mode-cart {
    padding: 0 270px;
  }
}

.left .bi-cart,
#right .bi-toggle-off,
#right .bi-toggle-on {
  cursor: pointer;
}

#right #dark-light-icon,
.left .bi-cart {
  margin-right: 10px;
  font-size: 1.9rem;
}

/* carousel */

.carousel {
  margin-top: 20px;
}

@media screen and (min-width: 650px) {
  .carousel {
    width: 80%;
    margin: 20px auto;
  }
}

.carousel-caption * {
  color: white;
}

/* cards */

.shoes {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 10px auto;
  box-shadow: 0 0 3px 0;
  width: 20rem;
}

.card img {
  height: 250px;
  width: 100%;
}

.card-text {
  text-align: center;
}

.shoes-title {
  background: var(--black);
  width: 60%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .shoes-title {
    width: 30%;
  }
}

@media screen and (min-width: 290px) {
  .shoes-title {
    width: 60%;
    font-size: 1.2rem;
  }
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.more button {
  padding: 8px 10px;
  border-radius: 10px;
  border: var(--black) solid 1px;
  background: var(--black);
  color: white;
}

/* cotizacion */

.cotizacion {
  margin: 1px auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px var(--bordes);
}

.input {
  margin: 20px auto;
  width: 100%;
}

.input input {
  border: solid 1px var(--bordes);
  border-right: none;
  border-radius: 2px 0 0 2px;
  padding: 7px;
}

.input input:active,
.input input:focus {
  border: solid 2px red;
}

.input .bi-send {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--black);
  border-radius: 0 2px 2px 0;
  border-color: var(--bordes);
  border-left: none;
  padding: 0 10px;
  color: var(--bordes);
  cursor: pointer;
}

.input .bi-send:active {
  color: black;
  font-size: 1.1rem;
  transition: all 0.1s ease-in;
}

/* footer */

.footer {
  padding: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: var(--bordes);
}

.paid-icons i {
  font-size: 40px;
}